<head>
tag: <rel="stylesheet" href="/style.css"/>

h1{
p{
 font-family: verdana;
}

body {
    background-color: #e60000;
}

  font-family: verdana;
  color:black;
}

 h2{
  font-family: verdana;
  color:black;
}


<html>
<!--
 edit from 2021
-->

<a href="/style.css">style sheet</a>

<h1 style="font-family: verdana;">deus ex machina</h1>

<body style="background-color= #E60000 font-family: verdana;>lorem ipsum</body>

<h2 style="font-family: verdana color: #000;">un owen was her</h2>

