<head>
tag: <rel="stylesheet" href="/style.css"/>

h1{
p{
 font-family: verdana;
}

body {
    background-color: #e60000;
}

  font-family: verdana;
  color:black;
}

 h2{
  font-family: verdana;
  color:black;
}
